body {
	background-color: powderblue;
}

h1 {
	text-align: center;
}

form {
	text-align: center;
}

button {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.buttons {
	text-align: center;
}

input {
	align-items: center;
}

.error {
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
}

#mapid { 
	height: 180px;
}
